<div class="thumbnail" id="section-block-<%= module %>">
    <div class="caption">
        <h3><%= name %></h3>
        <p class="details">
        <%= description %>
        </p>
        <a class="btn show-details">Expand</a>
    </div>
</div>