<h3>Skills</h3>
<input id="toggle-all" type="checkbox">
<label for="toggle-all">Select all</label>
<span class="view">View</span>
<ul id="skill-list"></ul>
<a  class="expand" href="#expand">Expand</a>